/* base */

@media (max-width: 1023px) {
  main {
    padding: 0;
    padding-top: 60px;
  }

  .sub-page {
    padding: 0 60px;
  }
}

@media (max-width: 539px) {
  .sub-page {
    padding: 0 15px;
  }
}

/* header */

@media (min-width: 1200px) {
  body.sticky-header {
    .header {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
      background-color: rgba(255, 255, 255, 0.9);
    }

    .header-box {
      height: 70px;
    }
  }
}

@media (max-width: 1199px) {
  body.sticky-header {
    .header {
      background-color: rgba(255, 255, 255, 0.9);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    }
  }

  .header-box {
    height: 60px;

    & .logo {
      flex: 0 0 140px;
      position: relative;
      z-index: 10;
    }
  }

  .navigations {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    transition: 0s;
  }

  .navbar {
    height: 20px;
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    outline: none !important;
    position: absolute;
    z-index: 5;
  }

  .navbar-toggler span,
  .navbar-toggler span:before,
  .navbar-toggler span:after {
    display: block;
    height: 1px;
    background-color: $black;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    transition: all 0.25s ease;
  }

  .navbar-toggler span:before,
  .navbar-toggler span:after {
    content: '';
    position: absolute;
  }

  .navbar-toggler span:before {
    top: -7px;
  }

  .navbar-toggler span:after {
    top: 7px;
  }

  .open span {
    background: transparent;
  }

  .open span:before {
    transform: translate(-30%, -10%) rotate(45deg);
    transform-origin: top left;
  }

  .open span:after {
    transform: translate(-30%, -20%) rotate(-45deg);
    transform-origin: bottom left;
  }

  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 2;
    padding-top: 60px;

    & .navbar-nav {
      border-top: 1px solid #000;
      width: 95%;
      margin: auto;
      align-items: center;
      padding-top: 56px;

      & li {
        margin: 0;
        margin-bottom: 15px;

        &:last-child {
          margin: 0;

          & a {
            border: 0;
            font-size: 13px;
            line-height: 19px;
          }
        }

        & a {
          background-color: rgba(0, 0, 0, 0);
          padding: 0;
        }
      }
    }
  }
}

/* footer */

@media (max-width: 991px) {
  .footer-main .footer-contact-box {
    display: block;

    & form {
      margin-bottom: 56px;
    }
  }
}

@media (max-width: 767px) {
  .footer-copyright {
    display: block;
    padding: 40px 0 55px 0;

    & .copyright {
      margin-bottom: 18px;
    }

    & .copyright-info span {
      text-align: left;
    }
  }
}

@media (max-width: 575px) {
  .footer-main {
    padding: 50px 0 58px 0;

    & .title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    & .section-title {
      margin-bottom: 30px;
    }

    & .footer-contact-box {
      & .footer-bi {
        width: 370px;
        top: -70px;
        left: -45px;
      }

      & .footer-bi-2 {
        display: block;
      }

      & .text {
        font-size: 14px;
        margin-bottom: 30px;
      }

      & form {
        & input[type='text'],
        input[type='email'] {
          border-bottom: 2px solid $footer-text;
          margin-bottom: 25px;
          font-size: 13px;
        }

        & input[type='button'] {
          width: 128px;
          height: 42px;
          border: 1px solid #2d2d2d;
          color: $footer-text;
          font-size: 12px;
          line-height: 40px;
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }

    & .footer-contact-main .footer-contact {
      display: block;

      & .contact {
        margin-bottom: 35px;

        & ul {
          display: flex;
          flex-wrap: wrap;

          & li:first-child {
            margin-right: 40px;
          }

          & li:last-child {
            flex: 0 0 100%;
          }
        }
      }

      & ul li a {
        font-size: 14px;
        line-height: 22px;
      }

      & .social ul {
        display: flex;

        & li {
          margin-right: 25px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .footer-copyright {
    & .copyright {
      font-size: 10px;
    }

    & .copyright-info span {
      font-size: 10px;
    }
  }
}

/* card */
@media (max-width: 991px) {
  .card .card-img {
    height: auto;
  }
}

@media (max-width: 767px) {
  .card .card-content {
    padding: 15px 0;

    & ul li {
      margin-right: 30px;

      & .name {
        font-size: 10px;
        margin-bottom: 10px;
      }

      & .value {
        font-size: 10px;
      }
    }
  }
}

/* home-carousel-box */
@media (max-width: 1199px) {
  .home-carousel-box {
    height: 390px;
    margin: 0 auto 15px auto;
  }

  .home-carousel {
    & .item {
      height: 390px;
    }
  }
}

@media (max-width: 991px) {
  .home-carousel-box {
    height: 302px;
    margin: 0 auto 15px auto;
  }

  .home-carousel {
    & .item {
      height: 302px;
    }
  }
}

@media (max-width: 767px) {
  .home-carousel-box {
    height: 227px;
    margin: 0 auto 15px auto;
  }

  .home-carousel {
    & .item {
      height: 227px;
    }
  }
}

@media (max-width: 575px) {
  .home-carousel-box {
    height: 125px;
    margin: 0 auto 15px auto;
  }

  .home-carousel {
    & .item {
      height: 125px;
    }
  }
}

/* section-title */

@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
    letter-spacing: 9px;
  }
}

/* section-title-box */
@media (max-width: 767px) {
  .section-title-box {
    & .subtitle {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

/* home-page */
@media (max-width: 1199px) {
  .advantages-block .advantages-list .advantages-item {
    display: block;

    & .advantages-item-img {
      width: 582px;
      margin: 0 auto 30px auto;
    }
  }

  .video {
    & iframe {
      height: 523px;
    }
  }
}

@media (max-width: 991px) {
  .video {
    & iframe {
      height: 388px;
    }
  }

  .portfolio-block .portfolio-list {
    display: block;

    & .portfilio-item:first-child .card .card-img {
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  .advantages-block {
    padding-top: 25px;

    & .advantages-img-box {
      width: 195px;
      height: 195px;
      opacity: 0.5;
      margin-bottom: 18px;

      & .img-bi-1 {
        width: 205px;
        height: 170px;
        left: -10px;
        top: 17px;
      }

      & .img-bi-2 {
        width: 106px;
        height: 106px;
        position: absolute;
        left: -17px;
        top: 28px;
      }
    }

    & .advantages-list {
      padding-bottom: 65px;

      & .advantages-item {
        margin-bottom: 28px;

        & .advantages-item-img {
          width: 287px;
          height: 287px;
          margin-right: -100px;
          opacity: 1;
          margin-bottom: 5px;

          & .img-bi-1 {
            width: 267px;
            height: 233px;
            left: -80px;
            top: 5px;
          }

          & .img-bi-2 {
            width: 172px;
            height: 171px;
            left: -63px;
            top: 15px;
          }
        }

        & .advantages-item-content {
          & ul li {
            & .title {
              font-size: 18px;
            }

            & .text {
              color: $text-color;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .video {
    padding: 30px 0 60px 0;

    & iframe {
      height: 287px;
    }
  }

  .portfolio-block {
    padding-bottom: 56px;

    & .portfolio-list {
      padding-top: 20px;
    }

    & .btn {
      height: 42px;
      background-color: #f0e1d7;
      font-size: 15px;
      line-height: 40px;
    }
  }
}

@media (max-width: 575px) {
  .home-info-mobile {
    display: block;
  }

  .btn-link-mobile-box .btn-link-mobile {
    display: inline-block;
  }

  .video {
    & iframe {
      height: auto;
    }
  }
}
