/* Colors */

$white: #fff;
$black: #000;
$white-color: #fff;
$text-color: #000;
$beige-color: #f0e1d7;
$gray-light-color: #dce2e6;
$footer-text: #242424;

$title-color: #0f0f0f; //==
$info-color: #141414; //==
$section-color: #151515; //==
$green-color: #6cb83d; //==
$table-text-color: #393939; //==
$red-color: #ff1f00; //==

/* Fonts */

$MyriadPro: 'Myriad Pro', sans-serif;
$Exo: 'Exo 2', sans-serif;

$light: 300;
$Regular: 400;
$Medium: 500;
$bold: 700;

/* title */

$h1: 29px;
$h2: 28px;
$h3: 25px;
$h4: 19px;
$h5: 15px;
$h6: 13px;

/* font-text */

$font-text: 1em;
$font-category: 39px;
